<ion-header>
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        Olá
      </ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase">
        Entre ou Cadastre-se
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <div class="signin-btns">
        <ion-button size="small" fill="solid" shape="round" class="loginbtn" (click)="gotoLoginpage()">
          Entre
        </ion-button>
        <ion-button size="small" fill="outline" shape="round" color="light" (click)="registerUser()">
          Cadastre-se
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>